<div class="EditorContainer">
    
    @if(renderedHTML.length == 0){
        <div class="homepageContainer">
            <h3 class="quicksand-700" style="font-size: 2.5em;
            padding-top: 0.25em;
            text-align: center;">Aurum</h3>
            <p>Welcome to <span class="logo">Aurum</span>, a <span class="blue">Note-taker</span> created by <span class="purple">Isaac</span></p>
            <div class="row">
                <p style="padding-right: 0.5em;">Get started by clicking the add file button  </p>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="#D5C4A1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9V4a1 1 0 0 0-1-1H8.914a1 1 0 0 0-.707.293L4.293 7.207A1 1 0 0 0 4 7.914V20a1 1 0 0 0 1 1h4M9 3v4a1 1 0 0 1-1 1H4m11 6v4m-2-2h4m3 0a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"/></svg>
            </div>

            <div class="row">
                <p style="padding-right: 0.5em;">Or create a folder instead by clicking this button</p>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke=#D5C4A1 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 8H4m8 3.5v5M9.5 14h5M4 6v13a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1h-5.032a1 1 0 0 1-.768-.36l-1.9-2.28a1 1 0 0 0-.768-.36H5a1 1 0 0 0-1 1Z"/></svg>
            </div>
            <div class="row">
                <p style="padding-right: 0.5em">Once you have created a file, click on the file, close the sidebar, and start typing!</p>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="#D5C4A1"stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.99994 10 6 11.9999l1.99994 2M11 5v14m-7 0h16c.5523 0 1-.4477 1-1V6c0-.55228-.4477-1-1-1H4c-.55228 0-1 .44772-1 1v12c0 .5523.44772 1 1 1Z"/>
                  </svg>
                <p style="padding-left: 0.5em">and start typing!</p>
            </div>
            <div class="row">
                <p style="padding-right: 0.5em">You can <span class="blue">move</span> files or folders by dragging & dropping them onto to other folders, or to the return arrow</p>
                <svg  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="#D5C4A1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
                </svg>
            </div>
            <div class="row">
                <p style="padding-right: 0.5em"><span class="red">Deleting</span> files or folders can be done by dragging & dropping them on the trash can</p>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"> <path stroke="#D5C4A1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/></svg>
            </div>

            <p>Once you're in a file try creating titles or bold text</p>
            <div class="col">
                <p class="exampleHeading" style=" font-size: var(--t1-size); line-height: var(--t1-line-height);"># Obscenely Large Title</p>
                <p class="exampleHeading" style="color: #2D936C; font-size: var(--t2-size); line-height: var(--t2-line-height);">## Very Big Title</p>
                <p class="exampleHeading" style="color: #5FAD41; font-size: var(--t3-size); line-height: var(--t3-line-height);">### Big Title</p>
                <p class="exampleHeading" style="color: #A5C882; font-size: var(--t4-size); line-height: var(--t4-line-height);">#### Normal Title</p>
                <p class="exampleHeading" style="color: #5AB1BB; font-size: var(--t5-size); line-height: var(--t5-line-height);">##### Small Title</p>
                <p class="exampleHeading" style="color: #A2D6F9; font-size: var(--t6-size); line-height: var(--t6-line-height);">###### Tiny Title</p>
                <p style="color: var(--color-accent); font-size: 16px; padding: 0px; font-weight: 700;">*bold text*</p>
            </div>
      
        </div>

    }
    @else {
        <h3 class="quicksand-700" style="font-size: 2.5em;
        padding-top: 0.25em;
        text-align: center;">{{fileName}}</h3>
        @for(line of renderedHTML; track line.id){
            <div class="im-line {{line.active ? 'active': ''}}">
                @for(subline of line.children; track subline.id){
                    <span  class="subline {{subline.type}} {{subline.active ? 'active' : ''}}">{{subline.text}}</span>
                }
            </div>
        }
    }


</div>

